<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn web design tips and tricks</h1>
    <br />
    <h2>For women, from women.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Basic CSS</h3>
    <br />
    <p>Choose from any number of videos to watch tutorials on how to make basic CSS style upgrades to any site.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>UI/UX</h3>
    <br />
    <p>Once you've learned the basics, take it up a notch with these tutorials on more complex UI/UX design.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>New to developing? Been in it your whole life? Either way, we'd love to connect with you!</p>
  </div>
</div>