<br />

<div class="booyah-box col-10 offset-1">
  <div class="text-center">
    <h1>Who we are</h1>
  </div>

  <div class="body no-gutters">
    <div class="col-4 float-left">
      <%= image_tag("Lauren_R.jpg", :height => "75%", :width => "75%") %>
    </div>
    <div class="col-8 float-right">
      <p>
        <strong>Lauren Raczkowski - CEO</strong>
        <br />
        Lauren is a lifelong learner and always find new opportunities to grow, both personally and professionally. She is motivated to empower other women to step into their power and live out their purpose. Spend 10 minutes with her and she will make you believe you can conquer the world.
        <br />
        Lauren has a wide range of knowledge encompassing many fields. She received her bachelors degree in marketing, her masters degree in healthcare, and decided to change careers again - recieving education in web development. She is driven to help other women thrive and develop their true selves so that they can live a life full of passion.
      </p>
    </div>
  </div>
</div>