@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

.navbar {
  background: image_url('pinkdust.png');
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  text-shadow: #ffffff 2px 2px;
}

.frosty h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  text-shadow: #ffffff 2px 2px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
  color: #07889B;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('bg.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a {
  color: white; 
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lesson {
  background-color: #262B2F;
} 

.lessons li {
  background-color: #262B2F;
  color: #EEAA7B;
  margin: 10px;
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lesson a b {
    color: #EEAA7B;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.btn-success {
  background-color: #66B9BF;
  border-color: white;
}

.btn-primary {
  background-color: #E37222;
  border-color: white;
}

.btn-primary:hover {
  background-color: #EEAA7B;
  border-color: white;
}

.link-to-text-color {
 color: #66B9BF;
}

.link-to-text-color:hover {
  color: #EEAA7B;
}

.btn-danger {
  background-color: #E37222;
  border-color: white;
}

.badge-info {
  background-color: #66B9BF;
}

a {
  color: #66B9BF;
}

a:hover {
  color: #EEAA7B;
}

.btn-warning {
  background-color: #66B9BF;
  color: white;
  border-color: white;
}

img {
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 100px;
}